@model ObjectDetection.Models.ImageUpload

    <div class="container mt-5">
        <h1 class="mb-4">Upload an Image for Object Detection</h1>
        <form asp-action="ProcessTomCruise" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label for="UploadedImage">Choose an Image:</label>
                <input type="file" name="UploadedImage" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Upload and Detect</button>
        </form>

    @if (ViewBag.ProcessedImagePath != null)
    {
        <div class="mt-5">
            <h2>Processed Image:</h2>
            <img src="@ViewBag.ProcessedImagePath" class="img-fluid" alt="Processed Image" />
        </div>
    }
    </div>